@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap';

html {
	box-sizing: border-box;
}

body {
	align-items: center;
	background-color: #ffffff;
	color: #000;
	display: flex;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	text-align: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23000000' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.quote-container {
	width: auto;
	max-width: 900px;
	padding: 20px 30px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* 1rem = 16px */
.quote-text {
	font-size: 2.75rem;
}
/* onChange with JS */
.long-text {
	font-size: 2rem;
}

.fa-quote-left {
	font-size: 4rem;
}

.quote-author {
	font-size: 2rem;
	font-weight: 400;
	font-style: italic;
	margin-top: 15px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

button {
	background: #333;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	height: 2.5rem;
	padding: 0.5rem 1.8rem;
	outline: none;
}
button:hover {
	filter: brightness(125%);
}

/* Media Query: For tablet or smaller divices */
@media screen and (max-width: 1000px) {
	.quote-container {
		margin: auto 10px;
	}
	.quote-text {
		font-size: 2.5rem;
	}
}
